<div *ngIf="pharmacie" class="main-content" >
    <div class="row">
        <div class="col-md-6 bold"> ID</div>
        <div class="col-md-6">{{pharmacie.id}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 bold"> Nom d'utilisateur</div>
        <div class="col-md-6">{{pharmacie.userName}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 bold"> E-mail</div>
        <div class="col-md-6">{{pharmacie.email}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 bold"> Pharmacie de nuit</div>
        <div class="col-md-6">{{pharmacie.isNight}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 bold"> date de la guarde prochaine</div>
        <div class="col-md-6">{{pharmacie.nextGuardDate | date}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 bold"> numero de telephone</div>
        <div class="col-md-6">{{pharmacie.phoneNumber}}</div>
    </div>
    <div class="row bold">
        <div class="col-md-6"> adresse : </div>

    </div>
    <app-maps [pharmacies]="[pharmacie]" [width]="'100%'" [height]="'500px'" [center]="pharmacie.adresse_id">
    </app-maps>


</div>