<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <span class="login100-form-title p-b-70">
        Welcome
      </span>
      <span class="login100-form-avatar">
      </span>


      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="userName" placeholder="Nom d'utilisateur">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="password" matInput type="password" placeholder="Mot de passe">
      </mat-form-field>


      <div class="container-login100-form-btn">
        <button (click)="login()" class="login100-form-btn">
          Login
        </button>
      </div>

      <ul class="login-more p-t-190">
        <li class="m-b-8">
          <span class="txt1">
            Forgot
          </span>

          <a href="#" class="txt2">
            Username / Password?
          </a>
        </li>

        <li>
          <span class="txt1">
            Don’t have an account?
          </span>

          <a href="#" [routerLink]="['/sign-up']" class="txt2">
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>