<div class="main-content">


  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="btn-group" role="group" style="width: 100%;height: 80px;">
        <button mat-raised-button class="btn pull-right top-button" (click)="isClient=true" [disabled]="isClient"
          style="width: 50%;height: 100%;">
          Client
        </button>
        <button mat-raised-button (click)="isClient=false" class="btn pull-right top-button" [disabled]="!isClient"
          style="width: 50%;height: 100%;">
          Pharmacie
        </button>
      </div>


      <div class="col-md-12" *ngIf="!isClient">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Pharmacie</h4>
            <p class="card-category">Formulaire d'inscription</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="nom d'utilisateur" formControlName="userName" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="numéro de telephone" formControlName="phoneNumber" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" formControlName="mail" type="mail">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" formControlName="isNight" type="checkbox" value="" checked>
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                      Nuit
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="nextGuardDate"
                      placeholder="date du garde prochain">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="numbre de semaine pour la garde" formControlName="numberWeekToGuard"
                      type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mot de passe" formControlName="password" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <span> Adresse : </span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput formControlName="lng" placeholder="Longitude">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Latitude" formControlName="lat">
                  </mat-form-field>
                </div>

              </div>

              <app-maps (locationClick)="mapClick($event)" [pharmacies]="pharmacieLocation" [width]="'1000px'" [height]="'500px'">
              </app-maps>
              <button mat-raised-button type="submit" (click)="savePharmacie()"
                class="btn btn-danger pull-right">Créer</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="isClient">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Client</h4>
            <p class="card-category">Formulaire d'inscription</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="nom d'utilisateur" formControlName="userName" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="numéro de telephone" formControlName="phoneNumber" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" formControlName="mail" type="mail">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="birthDay" placeholder="date de naissance">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mot de passe" formControlName="password" type="password">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" (click)="saveClient()"
                class="btn btn-danger pull-right">Créer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>