<div class="col-md-12 main-content">

  <div class="card card-plain">
    <div class="card-header card-header-danger row">
      <div class="col-md-6">
        <h4 class="card-title mt-0"> STOCK</h4>
        <p class="card-category">Liste des medicaments</p>
      </div>
      <div class="col-md-6 row">
        <div class="col-md-7 row">
          <div class="col-md-5 ">

            ajout :
          </div>
          <!-- <p-autoComplete [(ngModel)]="medicineToAdd" [suggestions]="medicinesAutoComplete"
            (completeMethod)="search($event.query)" [field]="'name'">
          </p-autoComplete> -->
          <div class="col-md-7 ">
            <form [formGroup]="addForm">
              <mat-form-field>
                <input type="text" matInput placeholder="Medicament" formControlName="med" (change)="search()"
                  [matAutocomplete]="auto">
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <ng-container *ngIf="medicinesAutoComplete!=[]">
                  <mat-option *ngFor="let med of medicinesAutoComplete"  [value]="med">
                    {{ med.name }}
                  </mat-option>
                  <mat-option *ngIf="medicinesAutoComplete==[]" class="is-loading">
                    <mat-spinner diameter="50">
                    </mat-spinner>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <input type="number" [(ngModel)]="quantityToAdd" class="form-control">

        </div>
        <div class="col-md-2">
          <button class="btn btn-primary col-md-4" [disabled]="!medicinesAutoComplete"
            (click)="addStock(this.addForm.controls.med.value,quantityToAdd)"><i class="fas fa-plus"></i></button>

        </div>



      </div>
    </div>
    <div class="card-body">
      Filtre :
      <div class="table-responsive">
        <p-table #dt [paginator]="true" [rows]="10" [value]="stock" [style]="{width: '100%'}"
          [globalFilterFields]="['medicament.name','medicament.id','item.medicament.type']">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [style.width]="'10%'">
                ID
              </th>
              <th [style.width]="'10%'">
                Nom
              </th>
              <th [style.width]="'10%'">
                Type
              </th>
              <th [style.width]="'10%'">
                Nombre
              </th>
              <th [style.width]="'10%'">
                Unité
              </th>
              <th [style.width]="'10%'">
                Prix
              </th>
              <th [style.width]="'10%'">
                Stock
              </th>
              <th [style.width]="'40%'">
                Gérer Stock
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr>
              <td>{{item.medicament.id}}</td>
              <td>{{item.medicament.name}}</td>
              <td>{{item.medicament.type}}</td>
              <td>{{item.medicament.nbUnite}}</td>
              <td>{{item.medicament.unite}}</td>
              <td>{{item.medicament.prix}}</td>
              <td>{{item.quantity}}</td>
              <td>
                <form class="form-group row">
                  <input type="number" [(ngModel)]="inputQuantity[index]" name="q" class="form-control col-md-7">
                  <button class="btn btn-primary col-md-4" [disabled]="!inputQuantity[index]"
                    (click)="updateStock(item,inputQuantity[index])">Envoyer</button>

                </form>
              </td>

            </tr>

          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>