<div class="col-md-12 main-content">
    <div class="row" style="margin-left: 50px;">
        <form [formGroup]="addForm">
            <mat-form-field>
                <input type="text" matInput placeholder="Medicament" formControlName="med" (change)="search()"
                    [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <ng-container *ngIf="medicinesAutoComplete!=[]">
                    <mat-option *ngFor="let med of medicinesAutoComplete" [value]="med">
                        {{ med.name }}
                    </mat-option>
                    <mat-option *ngIf="medicinesAutoComplete==[]" class="is-loading">
                        <mat-spinner diameter="50">
                        </mat-spinner>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </form>
    </div>

    <app-maps *ngIf="phrarmacies" (pharmacieClick)="showPharmacie($event)" [height]="'60vh'" [center]="center"
        [pharmacies]="phrarmacies"></app-maps>
    <!-- <app-maps ></app-maps> -->
</div>